@import "tailwindcss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');

@theme
{
    /* COLORS */
    --body-bg-color: #11181c;
    --primary-text-color: #f8f9fa;
    --accent-color: #39c188;
    --loading-screen-bg-color: #39c188;
    --button-bg-color: #2d976a;

    /* FONTS */
    --primary-font: 'Roboto', system-ui;
}

body
{
    font-family: var(--primary-font);
}

.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.hidden-complete {
  pointer-events: none;
  z-index: -10000;
}