---
const { iconsList = [] } = Astro.props;
---

<div class="flex gap-4 justify-center items-center h-full w-full z-50">
  {iconsList.map((item) => (
    <i class={`${item.iconClass} text-white text-3xl`}></i>
  ))}
</div>